<h1 style="text-align: center;">Lista de Tarefas</h1>

<div class="container mt-4">
    <div class="row mb-2">
        <div class="col-sm">
            <strong>Titulo</strong>
        </div>
        <div class="col-sm">
            <strong>Descrição</strong>
        </div>
        <div class="col-sm">
            <strong>Ações</strong>
        </div>
    </div>
    {{#each tarefas}}
    <div class="row mb-2 align-items-center">
        <div class="col-sm">
            {{titulo}}
        </div>
        <div class="col-sm">
            {{descricao}}
        </div>
        <div class="col-sm">
            <button class="btn btn-success me-2" data-bs-toggle="tooltip" title="Concluir"><i class="bi bi-check-lg"></i></button> 
            <button class="btn btn-primary me-2" data-bs-toggle="tooltip" title="editar"><i class="bi bi-pencil"></i></button>
            <button class="btn btn-danger" data-bs-toggle="tooltip" title="excluir"><i class="bi bi-trash"></i></button>
        </div>
    </div>
    {{/each}}
</div>