<h1>Lista de Tarefas</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <strong>Titulo</strong>
        </div>
        <div class="col-sm">
            <strong>Descrição</strong>
        </div>
        <div class="col-sm">
            <strong>Ações</strong>
        </div>
    </div>
    {{#each tarefas}}
    <div class="row">
        <div class="col-sm">
            {{titulo}}
        </div>
        <div class="col-sm">
            {{descricao}}
        </div>
        <div class="col-sm">
            <button class="btn btn-success">Concluir</button>
            <button class="btn btn-primary">Editar</button>
            <button class="btn btn-danger">Excluir</button>
        </div>
    </div>
    {{/each}}
</div>